/* /home/rpz/code/tanques-de-guerra-russos/src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

body {
  background-color: #171717; /* Define a cor de fundo do corpo como #171717 */
  margin: 0; /* Remove a margem padrão do corpo */
  padding: 0; /* Remove o preenchimento padrão do corpo */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
